
[theme="light"] {
    --clr-background: hsl(0, 0%, 98%);
    --clr-background-todo: hsl(0, 0%, 98%);
    --clr-border: hsl(233, 11%, 84%);
    --clr-placeholder: hsl(236, 9%, 61%);
    --clr-caret: hsl(220, 98%, 61%);
    --clr-text: black;
    --clr-todo-text: hsl(235, 19%, 35%);
    --clr-completed: hsl(234, 39%, 85%);
    --shadow:0px 20px 20px 9px #00000014;
    --bg-image-desktop: url("../../images/bg-desktop-light.jpg");
    --bg-image-mobile: url("../../images/bg-mobile-light.jpg")
    
}