[theme="light"] {
  --clr-background: hsl(0, 0%, 98%);
  --background-image: url(./images/bg-desktop-light.jpg);
}

[theme="dark"] {
  --clr-background: hsl(235, 21%, 11%);
  background-image: url(./images/bg-desktop-dark.jpg);
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: var(--bg-desktop-image);
}

.app {
  background-image: url(./images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background: var(--clr-background);
  height: 1000px;
  padding-top: 20px;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .app {
    background-image: url(./images/bg-mobile-dark.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
  }
}
